---
layout: page
layout_modifier: wrapper--members_page wide
title: Members
permalink: /members/
menu_group: 1
menu_sort: 1
---
<p class="member_intro"><strong>We welcome tinkerers of every stripe and background!</strong> You don’t have to be a developer to join our community. Just bring your curiosity and enthusiasm for technology. To be featured on this page, <a href="https://github.com/devanooga/devanooga.github.io#submitting-your-member-profile">follow the instructions</a> on this website’s readme.</p>

<ul class="members">
{% assign members = site.members | sort: 'name' %}
{% for member in members %}
{% if member.organizer != true %}
  {% include member.html %}
{% endif %}
{% endfor %}
  <li class="member you">
    <div class="member--wrapper">
      <a href="/slack">
        <img src="/images/you.png" alt="You?">
        <span class="member--name">Join us!</span>
      </a>
    </div>
  </li>
</ul>
<hr>
<p class="member_intro">This community really is all about its people (that’s you!), but it’s organized by these fine folks:</p>
<ul class="members">
  {% for member in members %}
  {% if member.organizer == true %}
    {% include member.html %}
  {% endif %}
  {% endfor %}
</ul>

<script>
  (function (window, document) {
    var members = document.getElementsByClassName('member');
    for (var i = members.length - 1; i >= 0; i--) {
      members[i].addEventListener('focus', expand_badges, true);
      members[i].addEventListener('blur', collapse_badges, true);
      members[i].addEventListener('mouseover', expand_badges, true);
      members[i].addEventListener('mouseout', collapse_badges, true);
    }
    function expand_badges () {
      this.setAttribute('aria-expanded', true);
    }
    function collapse_badges () {
      this.removeAttribute('aria-expanded');
    }
  })(window, document);
</script>
