<aside class="announcement">
    <h2>There is no live stream currently scheduled, keep an eye out for an announcement in the future.</h2>
    <p>
        The devanooga live coding stream schedule is currently ad hoc, please stay tuned for more streams!
    </p>
    <p>
        <a href="https://twitch.tv/devanooga" title="Go to Twitch" class="button button--blue button--block">Follow Devanooga on Twitch</a>
    </p>
</aside>

<aside class="announcement">
    <h2>The devanooga hacknight is held every other Wednesday from 6 to 9pm at <a href="https://chattanoogacoworking.com">Workhorse</a>. </h2>
    <p>
        All experience levels are welcome for projects, pizza, and banter. Just bring your enthusiasm! For exact dates and to RSVP to the next hacknight please visit the #hacknight channel on <a href="/slack/">our Slack</a>. Please make sure you are fully vaccinated against COVID-19 before attending.
	</p>
    <p>
        <a href="https://calendar.google.com/calendar/embed?src=devanooga.com_gfjpavg0j06gbkibo7pjr9d2jg%40group.calendar.google.com&ctz=America/New_York" title="View calendar" class="button button--blue button--block button--calendar">Add hacknight to your calendar</a>
    </p>
</aside>