<aside class="announcement">
  <h2>Our next hacknight will be held Wednesday, July 24, 2019.</h2>
  <p>
    The devanooga hacknight is held every other Wednesday from 6 to 9pm at <a href="https://chattanoogacoworking.com">Workhorse</a>. <strong>All experience levels are welcome for projects, pizza, and banter.</strong> Just bring your enthusiasm!
  </p>
  <p>
    <a href="https://calendar.google.com/calendar/embed?src=devanooga.com_gfjpavg0j06gbkibo7pjr9d2jg%40group.calendar.google.com&ctz=America/New_York" title="View calendar" class="button button--blue button--block button--calendar">Add hacknight to your calendar</a>
  </p>
</aside>
