<aside class="announcement urgent">
    <h2>Assist in the race to the cure for COVID-19 by Folding At Home!</h2>
    <p>
        Devanooga is proud to announce that its members are using their spare compute for Folding@home. Folding@home is a distributed computing project for performing molecular dynamics simulations of protein dynamics. By joining us in the Folding@home project, you are contributing to the potential discovery of cures and/or treatments for COVID-19.
    </p>
    <p>
        Devanooga Team ID: <a href="https://stats.foldingathome.org/team/249819" title="Devanooga Folding at Home team">249819</a>
    </p>
    <p>
        <a href="https://foldingathome.org" title="Fold with Devanooga" class="button button--blue button--block">Fold with Devanooga</a>
    </p>
</aside>

<aside class="announcement">
    <h2>There is no live stream currently scheduled, keep an eye out for an announcement in the future.</h2>
    <p>
        The devanooga live coding stream schedule is currently ad hoc, please stay tuned for more streams!
    </p>
    <p>
        <a href="https://twitch.tv/devanooga" title="Go to Twitch" class="button button--blue button--block">Follow Devanooga on Twitch</a>
    </p>
</aside>

<aside class="announcement">
    <h2>Our next hacknight is currently postponed until further notice while we test out some online hacknights on our Discord due to the COVID-19 situation, stay tuned for more announcements.</h2>
    <p>
        The devanooga hacknight will held every other Monday from 6 to 9pm. <strong>All experience levels are welcome for projects, pizza, and banter.</strong> Just bring your enthusiasm!
    </p>
    <p>
        <a href="https://calendar.google.com/calendar/embed?src=devanooga.com_gfjpavg0j06gbkibo7pjr9d2jg%40group.calendar.google.com&ctz=America/New_York" title="View calendar" class="button button--blue button--block button--calendar">Add hacknight to your calendar</a>
    </p>
</aside>