<nav id="navigation" class="navigation">
  <ol class="navigation--items">
    {% assign groups = (site.pages | sort: "menu_group" | group_by: "menu_group") %}
    {% for group in groups %}
      {% assign pages = (group.items | sort: "menu_sort") %}
      {% for page in pages %}
        {% if page.menu_group > 0 %}
        <li data-menu-group="{{ page.menu_group }}">
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ol>
  <a href="#header" class="navigation--close"><span class="sr-only">Back to content</span></a>
</nav>

<script>
  (function (window, document) {
    var close_button = document.getElementsByClassName('navigation--close')[0];
    close_button.addEventListener('click', function go_back (event) {
      window.history.back();
    });
  })(window, document);
</script>
