<nav id="navigation" class="navigation">
  <ol class="navigation--items">
    {% for page in site.pages %}
      {% if page.title %}
      <li>
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ol>
  <a href="#header" class="navigation--close"><span class="sr-only">Back to content</span></a>
</nav>

<script>
  (function (window, document) {
    var nav = document.getElementById('navigation');
    var header = document.getElementById('header');
    var container = header.getElementsByClassName('wrapper')[0];

    container.appendChild(nav);
    header.className += ' enhanced';
  })(window, document);
</script>
