<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" >
  <h2>Subscribe to our newsletter</h2>
  <p>
    <em>The devanooga Docket</em> is a curated collection of links, comments, and tools shared by members of the community in our various Slack channels. Sign up for thoughtful, useful content on a variety of tech topics.
  </p>
  <form action="//devanooga.us15.list-manage.com/subscribe/post?u=372e5a396a7529a4dc6d27018&amp;id=7db3fefa96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-signup" target="_blank">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_372e5a396a7529a4dc6d27018_7db3fefa96" tabindex="-1" value=""></div>
    <label for="mce-EMAIL">Email Address</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="name@domain.com">
    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button button--blue">Subscribe me!</button>
  </form>
</div>
<!--End mc_embed_signup-->
