<li id="{{outreach_member.slug}}" class="member">
  <div class="member--wrapper">
    <img src="https://s.gravatar.com/avatar/{{ outreach_member.gravatar }}?s=160&r=g" alt="{{ outreach_member.name }}’s profile picture" />
    <h3 class="member--name">
      <small class="member--username" aria-label="Slack username">{{ outreach_member.slug }}</small>
      <span aria-label="Real name">{{ outreach_member.name }}</span>
    </h3>
    <ul class="outreach-member-info">
      {% if outreach_member.email %}
        <li>Contact: <a href="mailto:{{outreach_member.email}}">Email {{outreach_member.name.first}}</a></li>
      {% endif %}
      {% if outreach_member.services %}
        <li>Services: {{outreach_member.services}}</li>
      {% endif %}
      {% if outreach_member.stack %}
        <li>Stack: {{outreach_member.stack}}</li>
      {% endif %}
    </ul>
  </div>
</li>
