<li id="{{project.slug}}" class="project">
  <div class="project--wrapper">
    {% if project.website %}
    <a href="{{project.website}}" title="{{project.name}}’s website" class="project--website">
    {% endif %}
      <div class="img--wrapper">
        <img src="{{ project.image }}" alt="{{ project.name }}" />
      </div>
      <h3 class="project--name">
        <span aria-label="Real name">{{ project.name }}</span>
      </h3>
    {% if project.website %}
    </a>
    {% endif %}
    <span>Made by: <a href="/members/#{{ project.member }}">{{ project.member }}</a></span>
  </div>
</li>