<section id="quilt" class="quilt">
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
  <figure>
    <img src="http://placehold.it/100x100" alt="Person’s portrait">
    <figcaption>Person’s name</figcaption>
  </figure>
</section>
