.announcement {
  background-color: lighten($blue-color, 30%);
  padding: 1.4em;
  border-radius: 4px;
  color: darken($blue-color, 35%);

  &.urgent {
    background-color: lighten($brand-color, 30%);
    color: darken($brand-color, 35%);

    .button {
      background-color: darken($brand-color, 35%);

      &:hover {
        background-color: $brand-color;
      }
    }
  }

  a:not(.button) {
    color: inherit;
  }

  * + & {
    margin-top: 1.4em;
  }
}
