.contact-us {
    margin: 0 auto;
    width: 30rem;

    input {
        height: 1.2rem;
    }

    textarea {
        height: 8rem;
    }

    input, textarea {
        margin: .25rem 0;
        width: 19rem;
    }

    input[type=submit] {
        width: 100%;
    }

    label {
        display: inline-block;
        margin: .25rem .1rem;
        text-align: right;
        vertical-align: top;
        width: 10rem;
    }
}