.dbox-donation-section {
    display: block;
}

.dbox-donation-container {
    text-align: center;
}

.dbox-donation-button {
    background: #e0644f url(https://d1iczxrky3cnb2.cloudfront.net/white_logo.png) no-repeat 18px center;
    color: #fff;
    text-decoration: none;
    font-family: Verdana,sans-serif;
    display: inline-block;
    font-size: 16px;
    padding: 13px 17px 13px 56px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #9c4637;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    margin: 8px auto;
}