form {
    label {
        padding: 0 .1rem .2rem .1rem;
    }

    input, textarea {
        background-color: #fafbfc;
        border: 1px solid $text-color;
        border-radius: $border-radius;
        box-sizing: border-box;
        margin-top: 0;
        padding: .4rem;
    }

    input:focus, textarea:focus {
        border-color: #2188ff;
        outline: none;
        box-shadow: inset 0 1px 2px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3);
    }

    input[type=submit] {
        cursor: pointer;
        margin: .1rem 0;
    }

    input, textarea, select, button {
      font-family: $base-font-family;
      font-size: $base-font-size*1px;
      font-weight: normal;
      font-style: italic;
    }
}

.contact-us {
    margin: 0 auto;
    width: 30rem;

    div:last-child {
        text-align: right;
    }

    input {
        height: 1.7rem;
    }

    textarea {
        height: 8rem;
    }

    input, textarea {
        width: 100%;
    }

    input[type=submit] {
        background-color: #e0644f;
        background-image: linear-gradient(-180deg, #e0644f 0%, #bf4b37 90%);
        color: #fff;
        display: inline-block;
        font-size: 1.1rem;
        height: 1.75rem;
        padding: .2rem 2rem;
        width: inherit;
    }

    label {
        display: block;
        font-size: .8rem;
        font-weight: bold;
        margin: .8rem 0 0 0;
    }
}
