form {
    label {
        padding: 0 .1rem .2rem .1rem;
    }

    input, textarea {
        background-color: #fafbfc;
        border: 1px solid $text-color;
        border-radius: $border-radius;
        box-sizing: border-box;
        margin-top: 0;
        padding: .4rem;
    }

    input:focus, textarea:focus {
        border-color: #2188ff;
        outline: none;
        box-shadow: inset 0 1px 2px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3);
    }

    input[type=submit] {
        cursor: pointer;
        margin: .1rem 0;
    }

    input, textarea, select, button {
      font-family: $base-font-family;
      font-size: $base-font-size*1px;
      font-weight: normal;
      font-style: italic;
    }
}

.contact-us {
    margin: 0 auto;
    width: 30rem;

    div:last-child {
        text-align: right;
    }

    input {
        height: 1.7rem;
    }

    textarea {
        height: 8rem;
    }

    input, textarea {
        width: 100%;
    }

    input[type=submit] {
        background-color: #e0644f;
        background-image: linear-gradient(-180deg, #e0644f 0%, #bf4b37 90%);
        color: #fff;
        display: inline-block;
        font-size: 1.1rem;
        height: 1.75rem;
        padding: .2rem 2rem;
        width: inherit;
    }

    label {
        display: block;
        font-size: .8rem;
        font-weight: bold;
        margin: .8rem 0 0 0;
    }
}

.newsletter-signup {
  max-width: (500/18)*1em;
  margin: 1em auto 0;

  label {
    display: block;
  }

  input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    padding: 0.5em 1.2em;
    float: left;
    border: 4px solid $blue-color;
    width: 100%;
    box-sizing: border-box;
    margin: 0; // because Safari
    &:focus {
      outline: none;
      border-color: darken($blue-color, 35%);
    }
  }

  button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    margin: 0; // because Safari
  }

  input, button {
    vertical-align: top;
  }

  @media (min-width: (540/16)*1em) {
    input {
      width: 65%;
      border-radius: $border-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      width: 35%;
      border-radius: $border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
