.header {
  position: relative;
  top: 0;
  z-index: 2;
  height: (50/$base-font-size)*1em;
  width: 100%;
  &.enhanced {
    background-color: $background-color;
    background-color: rgba($background-color, 0.95);
  }
  a {
    font-style: normal;
    text-decoration: none;
  }
  .wrapper {
    max-width: -webkit-calc(#{$content-width * 1.2} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width * 1.2} - (#{$spacing-unit} * 2));
  }
}
