.members {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: (800/16)*1em) {
    max-width: 72%;
    float: left;
    justify-content: flex-start;
  }
}

.member:target {
  margin-top: (30/$base-font-size)*-1em;
  &::before {
    content: ' ';
    display: block;
    height: (30/$base-font-size)*1em;
    width: 1px;
    background: transparent;
  }
  .member--wrapper {
    border: 4px solid $brand-color;
    box-sizing: border-box;
    transform: scale(1.1) rotate(-2deg);
    transform-origin: center center;
    background-color: #fff;
    a.member--website::before {
      height: (152/$base-font-size)*1em;
    }
  }
}

.member--wrapper {
  padding: 0;
  position: relative;
  width: (160/$base-font-size)*1em;
  // min-height: (240/$base-font-size)*1em;
  flex-basis: (160/$base-font-size)*1em;
  margin: 0 1em 1em 0;
  display: block;
  float: left;
  flex-grow: 0;
  flex-shrink: 1;
  // flex-basis: 25%;
  img {
    width: 100%;
    display: block;
    border: none;
  }
  a.member--website {
    position: relative;
    display: block;
    text-decoration: none;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: (160/$base-font-size)*1em;
    }
    &:hover::before, &:focus::before {
      background-color: $text-color;
      background-color: rgba($text-color, 0.5);
    }
    &::after {
      content: '';
      display: none;
      width: (54/$base-font-size)*1em;
      height: (44/$base-font-size)*1em;
      position: absolute;
      z-index: 2;
      top: (58/$base-font-size)*1em;
      left: 50%;
      margin-left: (-27/$base-font-size)*1em;
      background-image: url('/images/social_icons@1x.png');
      background-position: center (-44/$base-font-size)*1em;
      background-size: (54/$base-font-size)*1em auto;
      background-repeat: no-repeat;
    }
    &:hover::after, &:focus::after {
      display: block;
    }
  }
}

.member--name {
  font-size: (14/$base-font-size)*1em;
  font-weight: normal;
  margin-top: 0;
  display: block;
  height: 2.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.member--username {
  display: block;
  padding: 0.2em 0.3em 0.3em;
  background-color: $text-color;
  color: $background-color;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: 0.4em;
  &::before {
    content: '@';
  }
}

.member--links {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: block;
    float: left;
    width: 33%;
  }
  a {
    color: transparent;
    text-indent: -999em;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 80%;
    border: (3/$base-font-size)*1em solid transparent;
    border-radius: (3/$base-font-size)*1em;
    box-sizing: border-box;
    background-image: url('/images/social_icons@1x.png');
    background-position: center top;
    background-size: (54/$base-font-size)*1em auto;
    background-repeat: no-repeat;
    @media screen and (min-resolution: 1.4dppx) {
      background-image: url('/images/social_icons@2x.png');
    }
    @media screen and (min-resolution: 2.4dppx) {
      background-image: url('/images/social_icons@3x.png');
    }
    &.github {
      background-position: center (-44/$base-font-size)*2em;
    }
    &.twitter {
      background-position: center (-44/$base-font-size)*3em;
    }
    &.linkedin {
      background-position: center (-44/$base-font-size)*4em;
    }
    &.bitbucket {
      background-position: center (-44/$base-font-size)*5em;
    }
    &.stackoverflow {
      background-position: center (-44/$base-font-size)*6em;
    }
    &.gitlab {
      background-position: center (-44/$base-font-size)*7em;
    }
    &.facebook {
      background-position: center (-44/$base-font-size)*8em;
    }
    &:hover {
      background-color: #ddd;
    }
    &:focus {
      border-color: $text-color;
      outline: none;
    }
  }
}

.member_intro {
  margin-bottom: 2em;
  @media screen and (min-width: (800/16)*1em) {
    max-width: 25%;
    padding-right: 3%;
    float: left;
    clear: both;
  }
}

.member--badges {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: (1/($base-font-size * 0.8)) * 1em;
  line-height: 1.4em;
  color: white;
  position: absolute;
  top: -4px;
  left: -2px;
  right: -3px;
  pointer-events: none;
  li {
    display: block;
    margin-top: 0;
    margin-left: auto;
    & + li {
      margin-top: 4px;
    }
  }
  .member--badge {
    padding: 0.1em 0.35em 0;
    background-color: $grey-color;
    border-radius: 2px;
    border: 1px solid $grey-color-dark;
    font-family: $mono-font-family;
    &.contributor {
      background-color: $blue-color;
    }
    &.volunteer {
      background-color: $yellow-color;
    }
    &.writer {
      background-color: $lilac-color;
    }
  }
  .rest {
    max-width: 0;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    transition-property: max-width;
  }
  a:hover ~ &, a:focus ~ &,
  img:hover ~ &, .member:target &,
  .member[aria-expanded="true"] & {
    cursor: default;
    .rest {
      max-width: 90%;
    }
  }
  .member:target & {
    top: -8px;
    right: -7px;
  }
}
