.post-content {
  img {
    display: block;
    max-width: 100%;
    margin: 2em auto;
  }
}

.post-excerpt {
  margin-bottom: 0.6em;
}

.post-tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 75%;
  li {
    display: inline-block;
  }
  .tags_page & {
    font-size: 125%;
    margin-top: 1.4em;
  }
}

.post-tag {
  display: block;
  padding: .25em .5em;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: $blue-color;
  &:hover, &:focus {
    background-color: $grey-color-dark;
  }
}
