.quilt {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  figure {
    width: 33%;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 0;
    &:nth-of-type(1n+10) {
      display: none;
    }
    @media (min-width: (375/16)*1em) {
      width: 25%;
      &:nth-of-type(-1n+12) {
        display: block;
      }
    }
    @media (min-width: (450/16)*1em) {
      width: 20%;
      &:nth-of-type(-1n+15) {
        display: block;
      }
    }
    @media (min-width: (550/16)*1em) {
      width: 16.6666666666666%;
      &:nth-of-type(-1n+18) {
        display: block;
      }
    }
    @media (min-width: (650/16)*1em) {
      width: 12.5%;
      &:nth-of-type(-1n+24) {
        display: block;
      }
    }
    @media (min-width: (800/16)*1em) {
      width: 11.1111111111111%;
      &:nth-of-type(-1n+27) {
        display: block;
      }
    }
    @media (min-width: (960/16)*1em) {
      width: (106/$base-font-size)*1em;
      flex-grow: 0;
      flex-shrink: 0;
      &:nth-of-type(-1n+27) {
        display: block;
      }
    }
  }
  @media (min-width: (960/16)*1em) {
    max-width: (960/$base-font-size)*1em;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
  figcaption {
    display: none;
  }
}
