.resource {
  clear: both;
  //border: solid 1px #ccc;
  margin: 2%;
  text-align: center;
  vertical-align: top;
  width: 41%;

  a {
    text-decoration: none;
  }

  .resource--about {
    font-size: .8em;
  }

  .resource--icon {
    img {
      width: 100px;
    }
  }

  .resource--about {
    //text-align: left;
  }
}