pre.highlight,
.highlight pre { background-color: #272822; }

.highlight {
  .hll { background-color: #22282A }
  .c { color: #99AA8A } /* Comment */
  .err { color: #960050; background-color: #1e0010 } /* Error */
  .k { color: #93C763 } /* Keyword */
  .l { color: #ae81ff } /* Literal */
  .n { color: #F1F2F3 } /* Name */
  .o { color: #E8E2B7 } /* Operator */
  .p { color: #F1F2F3 } /* Punctuation */
  .ch { color: #99AA8A } /* Comment.Hashbang */
  .cm { color: #99AA8A } /* Comment.Multiline */
  .cp { color: #99AA8A } /* Comment.Preproc */
  .cpf { color: #99AA8A } /* Comment.PreprocFile */
  .c1 { color: #99AA8A } /* Comment.Single */
  .cs { color: #99AA8A } /* Comment.Special */
  .gd { color: #E8E2B7 } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gi { color: #678CB1 } /* Generic.Inserted */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #99AA8A } /* Generic.Subheading */
  .kc { color: #93C763 } /* Keyword.Constant */
  .kd { color: #93C763 } /* Keyword.Declaration */
  .kn { color: #E8E2B7 } /* Keyword.Namespace */
  .kp { color: #93C763 } /* Keyword.Pseudo */
  .kr { color: #93C763 } /* Keyword.Reserved */
  .kt { color: #83D8E1 } /* Keyword.Type */
  .ld { color: #EC7600 } /* Literal.Date */
  .m { color: #FFCD22 } /* Literal.Number */
  .s { color: #EC7600 } /* Literal.String */
  .na { color: #678CB1 } /* Name.Attribute */
  .nb { color: #F1F2F3 } /* Name.Builtin */
  .nc { color: #678CB1 } /* Name.Class */
  .no { color: #93C763 } /* Name.Constant */
  .nd { color: #678CB1 } /* Name.Decorator */
  .ni { color: #F1F2F3 } /* Name.Entity */
  .ne { color: #678CB1 } /* Name.Exception */
  .nf { color: #678CB1 } /* Name.Function */
  .nl { color: #F1F2F3 } /* Name.Label */
  .nn { color: #F1F2F3 } /* Name.Namespace */
  .nx { color: #678CB1 } /* Name.Other */
  .py { color: #F1F2F3 } /* Name.Property */
  .nt { color: #E8E2B7 } /* Name.Tag */
  .nv { color: #F1F2F3 } /* Name.Variable */
  .ow { color: #E8E2B7 } /* Operator.Word */
  .w { color: #F1F2F3 } /* Text.Whitespace */
  .mb { color: #FFCD22 } /* Literal.Number.Bin */
  .mf { color: #FFCD22 } /* Literal.Number.Float */
  .mh { color: #FFCD22 } /* Literal.Number.Hex */
  .mi { color: #FFCD22 } /* Literal.Number.Integer */
  .mo { color: #FFCD22 } /* Literal.Number.Oct */
  .sb { color: #EC7600 } /* Literal.String.Backtick */
  .sc { color: #EC7600 } /* Literal.String.Char */
  .sd { color: #EC7600 } /* Literal.String.Doc */
  .s2 { color: #EC7600 } /* Literal.String.Double */
  .se { color: #ae81ff } /* Literal.String.Escape */
  .sh { color: #EC7600 } /* Literal.String.Heredoc */
  .si { color: #EC7600 } /* Literal.String.Interpol */
  .sx { color: #EC7600 } /* Literal.String.Other */
  .sr { color: #EC7600 } /* Literal.String.Regex */
  .s1 { color: #EC7600 } /* Literal.String.Single */
  .ss { color: #EC7600 } /* Literal.String.Symbol */
  .bp { color: #F1F2F3 } /* Name.Builtin.Pseudo */
  .vc { color: #F1F2F3 } /* Name.Variable.Class */
  .vg { color: #F1F2F3 } /* Name.Variable.Global */
  .vi { color: #F1F2F3 } /* Name.Variable.Instance */
  .il { color: #FFCD22 } /* Literal.Number.Integer.Long */
}
